<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- File upload support -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="utf-8" p:maxUploadSize="100000000"/>

    <!-- Conversion service for data binding -->
    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- Add custom converters if needed -->
            </set>
        </property>
    </bean>

    <!-- Enable Spring MVC annotations -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- Static resources handling -->
    <mvc:resources mapping="/css/**" location="/CSS"/>
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!-- Scan for components in your package structure -->
    <context:component-scan base-package="novaTech"/>

    <!-- JSP view resolver configuration -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- Database connection configuration from db.properties -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/task_management"/>
        <property name="username" value="postgres"/>
        <property name="password" value="Umujene"/>
    </bean>

    <!-- Task DAO bean -->
    <bean id="taskDAO" class="novaTech.dao.TaskDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Database utility bean -->
    <bean id="databaseUtil" class="novaTech.util.DatabaseUtil">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>